@model dynamic

@{
    Layout = null;
}


<!DOCTYPE html>

<html>
    <head>
        <title>Basic Demo App - Login required</title>
    </head>
    <body>
        <p>You must first log into your LMS.</p>
        <p>By default this sample points to an LMS hosted at devcop.brightspacedemo.com. You can use the user "DevCoPStudent" with the password "/10T41.Vf\0w~=O" to log in.</p>
        <p>If you have already authenticated with the LMS you will not need to enter your password to re-login with this app. To force a global logout, log in and log out of the LMS manually.</p>
        <a href="@ViewBag.valenceAuthUrl">Log in</a>
    </body>
</html>