<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="scheme" value="https"/>
		<add key="host" value="devcop.brightspacedemo.com"/>
		<add key="port" value="443"/>
		<add key="appId" value="G9nUpvbZQyiPrk3um2YAkQ"/>
		<add key="appKey" value="ybZu7fm_JKJTFwKEHfoZ7Q"/>
		<add key="userId" value="SomeUserId"/>
		<add key="userKey" value="SomeUserKey"/>
	</appSettings>
</configuration>