<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--
        You must provision this config with the ID-Key App ID, App Key, and
        Brightsapce domain name.
    -->
		<add key="scheme" value="https"/>
		<add key="host" value="BRIGHTSPACE_DOMAIN_HERE"/>
		<add key="port" value="443"/>
		<add key="appId" value="VALENCE_APP_ID_HERE"/>
		<add key="appKey" value="VALENCE_APP_KEY_HERE"/>
		<add key="userId" value="SomeUserId"/>
		<add key="userKey" value="SomeUserKey"/>
	</appSettings>
</configuration>
