<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<!--<appSettings>
		<add key="scheme" value="https"/>
		<add key="host" value="valence.desire2learn.com"/>
		<add key="port" value="443"/>
		<add key="appId" value="G9nUpvbZQyiPrk3um2YAkQ"/>
		<add key="appKey" value="ybZu7fm_JKJTFwKEHfoZ7Q"/>
		<add key="userId" value="8jeogjvTkqAwqo4Fih06nv"/>
		<add key="userKey" value="TtF_JqKBiu4EbN9oj5KD_p"/>
	</appSettings>-->
	<appSettings>
		<add key="scheme" value="http"/>
		<add key="host" value="localhost"/>
		<add key="port" value="44454"/>
		<add key="appId" value="TestApp"/>
		<add key="appKey" value="TestAppKey"/>
		<add key="userId" value="TestToken"/>
		<add key="userKey" value="TestTokenKey"/>
	</appSettings>
</configuration>